[2016-05-02 09:03] TwilightDuck opened #1 "Infinite reload bug"
I cloned the repo, opened the index.php, logged in with the default password. So far so good.
When I go to settings it gets stuck in an infinite reload with some JSON showing.
![capture](https://cloud.githubusercontent.com/assets/7328317/14950882/820aeda6-1055-11e6-87a5-d481c4e43438.PNG)

[2016-05-02 09:27] TwilightDuck commented on #1
I am using PHP 7 and Nginx 1.8.1

[2016-05-02 10:05] NotExpectYet commented on #1
Similar issue myself, running Nginx 1.4.6.

Have managed to edit the settings.ini.php file though.

[2016-05-02 14:35] Codehhh opened #2 "Text isn't centered"
Some of the text isn't center in the tab.
<img width="902" alt="php" src="https://cloud.githubusercontent.com/assets/12055335/14957112/78c1b1ac-1051-11e6-93be-f236d1594901.png">

It would also be nice to set which row the tabs show up on

[2016-05-02 15:48] causefx commented on #2
Thank you, I will look into this.  Also, what is your monitor resolution?

[2016-05-02 15:51] causefx commented on #1
I didn't test on PHP 7 or 6 for that matter, I will look into this.  @NotExpectYet what PHP version are you running?

[2016-05-02 15:57] causefx commented on #1
@SupFrost Can you uncomment out Line 28 on settings.php

`//ini_set('display_errors',1);  error_reporting(E_ALL);`

and reload that page and let me know what happens and if it throws an error.

[2016-05-02 15:57] Codehhh commented on #2
The resolution that firefox says is 1280x800, but the actual resolution is
2304 x 1440.

On Mon, May 2, 2016 at 11:48 AM causefx notifications@github.com wrote:

[2016-05-02 16:05] causefx commented on #2
oh ok, was your browser not full screen or big?

[2016-05-02 16:07] Codehhh commented on #2
It was full screen, that's just how OSX down scales the resolution

On Mon, May 2, 2016 at 12:05 PM causefx notifications@github.com wrote:

[2016-05-02 16:10] causefx commented on #2
I'll jump on my mac when I get home to test it on that.  800px on width is just too small for this,

[2016-05-02 17:24] Codehhh commented on #2
This is what the site looks like on my 1920 x 1080 monitor

![ss 2016-05-02 at 01 23 18](https://cloud.githubusercontent.com/assets/12055335/14961726/17b49b1e-1069-11e6-8a26-bc9699df6b2c.png)

[2016-05-02 17:28] causefx commented on #2
is there any gap on both sides?

[2016-05-02 17:52] Codehhh commented on #2
Yeah, looks like an even gap on both sides.

![ss](https://cloud.githubusercontent.com/assets/12055335/14962491/132782e2-106d-11e6-8204-471897306c9b.png)

[2016-05-02 19:11] causefx commented on #2
ahhhh, time to fix some css...  the box should reach the bottom of your screen which would adjust the width.

[2016-05-02 19:12] Codehhh commented on #2
Ah, I was hoping that I would be able to do that. The I find this small screen quite silly

[2016-05-02 19:16] causefx commented on #2
yeah, haha.  Should i take the bg pic out and just make it a color or keep the image and make it user select-able?

[2016-05-02 19:17] Codehhh commented on #2
I would do both (if possible). I would prefer to have background color selection as well.

[2016-05-02 19:28] causefx commented on #2
sounds good :)

[2016-05-03 06:00] causefx commented on #2
download the new release when you get a chance.  just overwrite all files, your settings will stay intact.

[2016-05-03 06:06] Codehhh commented on #2
New release doesn't load if there is no settings.ini.php, and also doesn't show anything vertically for me.
![ss 2016-05-03 at 02 05 47](https://cloud.githubusercontent.com/assets/12055335/14975811/94b6d658-10d3-11e6-8a4b-8362db895c05.jpg)

[2016-05-03 06:08] causefx commented on #2
damn wtf, thats weird...  so your settings.ini.php disappeared?

[2016-05-03 06:08] Codehhh commented on #2
I started from a fresh directory to start testing from the beginning. If I had pulled from an existing directory the settings.ini.php would not have been overwritten

[2016-05-03 06:17] causefx commented on #2
can you try the new release?  you can start fresh too...

[2016-05-03 06:20] Codehhh commented on #2
You fixed it!
It even looks like this on OSX.
![ss 2016-05-03 at 02 19 51](https://cloud.githubusercontent.com/assets/12055335/14975995/8cd3c458-10d5-11e6-8c2e-a32ac2628706.jpg)

[2016-05-03 06:22] causefx commented on #2
Sweet!!!

Add a shit load of tabs and mess around with it...

I'll work on the mobile version next and then cookies.

[2016-05-03 06:30] Codehhh commented on #2
New bug(?)

If you make a title larger then the tile it pushes the other tiles off the screen. I noticed this when I added 20+ tabs and then made a tab actually have a name.

![1](https://cloud.githubusercontent.com/assets/12055335/14976124/f9409264-10d6-11e6-9d38-293774aec524.png)
![2](https://cloud.githubusercontent.com/assets/12055335/14976125/f9410b22-10d6-11e6-93b1-8e57cb6318f7.png)

[2016-05-03 06:38] causefx commented on #2
holy crap LMAO.  So around 20 tabs is my max huh....  Wonder if I should even attempt to fix that...  good catch either way.

[2016-05-03 06:41] Codehhh commented on #2
I mean it's a pretty high limit, but you did say to test with a shit load of tabs :100:

[2016-05-03 06:46] causefx commented on #2
haha true that.  I got the mobile layout done now, but the stupid shit wont scroll!  i can scroll on the computer emulating a phone but not on the phone itself... smh

[2016-05-03 07:21] Codehhh commented on #2
Maybe it wasn't meant to run on phones!

Nice save cookie "Dashboard"

[2016-05-03 07:29] causefx commented on #2
Haha maybe that's true. Lol

[2016-05-04 13:20] ghost commented on #1
Having the same problem as the others, tried un-commenting, still the same.

Using PHP 7.0.6 and Apache 2.4.20 on Arch.

Looks great so far, can't wait to try it out "for real"!

[2016-05-04 15:44] causefx commented on #1
So at least we know it's a PHP 7 code issue.  I'll install 7 on a VM and play with it.

[2016-05-04 22:18] mmolitor87 opened #3 "Error on settings"
Ubuntu 14.04.4 LTS
Apache/2.4.7
PHP 5.5.9-1ubuntu4.16 (cli)

Here's what I ran:
git clone https://github.com/causefx/iDashboard-PHP test

chown www-data:www-data test -R

Login and go to settings page to receive:

$section) { if(($keyname == "general")) { $nopass = $section["password"]; } } $salt = substr(str_replace('+','.',base64_encode(md5(mt_rand(), true))),0,16); $rounds = 10000; if(empty($_P

[2016-05-05 01:03] causefx commented on #3
I actually haven't tried cloning.  Let me try now.

[2016-05-05 02:45] causefx commented on #1
@SupFrost @NotExpectYet @gitman47 can you guys try this:

https://github.com/causefx/iDashboard-PHP/releases/tag/0.97

[2016-05-05 02:45] causefx commented on #3
@mmolitor87 can you try this:
https://github.com/causefx/iDashboard-PHP/releases/tag/0.97

[2016-05-05 02:45] #2 closed, assigned to nobody

[2016-05-05 11:37] hjone72 commented on #3
Issue is still exists. Does it matter that I am running this at /dashboard ?

[2016-05-05 11:39] hjone72 opened #4 "Login wrong password"
When I first login the page tells me wrong password "iCauseFX" however still logs in. I then cannot access settings. With the same message as #3

Thanks

[2016-05-05 15:44] causefx commented on #3
It doesn't matter where u run it. I'll keep looking into it.

[2016-05-05 15:45] causefx commented on #4
It that wrong password is a small bug I need to fix.

[2016-05-05 16:04] mmolitor87 commented on #3
@causefx:

git checkout 851c6ba
Note: checking out '851c6ba'.

Same error happened. :/

Also wanted to let you know that it is happening when I extract a zip as well. So it isn't just a cloning issue.

More fun:

git checkout d27c201 = Infinite reloading issue in the other thread. Means it isn't contained to php 7.0 like you thought in the other thread.

git checkout d27c201 = Only tabs show.

git

[2016-05-05 18:34] causefx commented on #3
@mmolitor87 Thanks for the write up.  Good info.  Shit's got me scratching my had because it throws no errors.

[2016-05-05 20:27] mmolitor87 commented on #3
@causefx I work in IT helpdesk so I have a good idea of what info is helpful!

It looks to me as if the code isn't parsing properly and is just outputting part of the login code (password handling) right to the page. I don't know enough about php to troubleshoot the code itself, though.

[2016-05-05 21:31] hjone72 commented on #4
Yeah, nothing too major as it is still checking that the password is correct.

[2016-05-05 22:59] causefx commented on #3
You are correct but for some reason it's also reloaded the page, correct?

[2016-05-05 23:24] mmolitor87 commented on #3
It is NOT reloading the page with this error. It is a constant error shown
with no loading animation.

[2016-05-06 02:26] causefx commented on #4
@hjone72 can you try this?

https://github.com/causefx/iDashboard-PHP/archive/0.97-4.zip

[2016-05-06 02:26] causefx commented on #3
@mmolitor87 can you try this?

https://github.com/causefx/iDashboard-PHP/archive/0.97-2.zip

[2016-05-06 02:40] mmolitor87 commented on #3
@causefx Well it loads.

![bug](https://cloud.githubusercontent.com/assets/19196123/15062835/eecc9d02-1309-11e6-9f51-0b56836970f9.JPG)

[2016-05-06 02:41] causefx commented on #3
LOL, half way there.

[2016-05-06 02:42] causefx commented on #3
@mmolitor87 can you do me a favor...?

can you get me the frame source on that tab?  also, can you get me the contents of settings.ini.php?

[2016-05-06 02:47] mmolitor87 commented on #3
@causefx

[settings.ini.php.txt](https://github.com/causefx/iDashboard-PHP/files/251478/settings.ini.php.txt)

[source.txt](https://github.com/causefx/iDashboard-PHP/files/251477/source.txt)

Not sure if this is the source you're looking for.

[2016-05-06 02:54] causefx commented on #3
@mmolitor87 that source is from the main page, we need it from the frame...

![image](https://cloud.githubusercontent.com/assets/16184466/15062989/fed6e98c-12fa-11e6-9665-8ef219b86ffd.png)

Also, does your settings.ini.php not have line breaks?
the file you sent looked like this:
![image](https://cloud.githubusercontent.com/assets/16184466/15062997/1f228ad4-12fb-11e6-907b-cba4f4f5ae20.png)

Should

[2016-05-06 02:57] mmolitor87 commented on #3
@causefx

Here is the frame source: [source.txt](https://github.com/causefx/iDashboard-PHP/files/251481/source.txt)

Open the settings with notepad++ - for some reason the line breaks aren't preserved otherwise.

[2016-05-06 03:00] mmolitor87 commented on #3
@causefx

Or this..

`; <?php die("Access denied"); ?>
[general]
title = "iCauseFX"
password = "$5$rounds=10000$2lXstBi0yrcJd7vH$9SBM7jW1XAlS67mNpEKolliHvz57UPgPv65nJIBpgI2"
useicons = "true"
[Sonarr]
url = "https://sonarr.tv/"
icon = "fa-desktop"
enabled = "true"
[QNAP]
url = "https://www.qnap.com/i/useng/"
icon = "fa-cubes"
enabled = "true"
[Movies]
url = "https://couchpota.to/"
icon = "fa-film"

[2016-05-06 03:03] causefx commented on #3
ok, let me do one fix...

[2016-05-06 03:07] causefx commented on #3
@mmolitor87 try this:

https://github.com/causefx/iDashboard-PHP/archive/0.97-3.zip

we should have some progress on this...

[2016-05-06 03:16] mmolitor87 commented on #3
@causefx Some progress:

![bug](https://cloud.githubusercontent.com/assets/19196123/15063335/f8a1d540-130e-11e6-9457-723266a0a26a.JPG)

[2016-05-06 03:18] causefx commented on #3
any chance on getting the source again :)

[2016-05-06 03:19] mmolitor87 commented on #3
[source.txt](https://github.com/causefx/iDashboard-PHP/files/251499/source.txt)

[2016-05-06 03:22] causefx commented on #3
dude, you're awesome man!  thanks for helping me...  shits kicking my ass :(

for some reason it isnt switching back to php after the "<?"

[2016-05-06 03:26] mmolitor87 commented on #3
You're welcome!

I don't know if it matters but line 94 is '            <?$i = 0;'

and 110-112:

[code]

should the php brackets be separate from other bits of code?

[2016-05-06 03:27] causefx commented on #3
@mmolitor87 I have 2 things left to try....

https://github.com/causefx/iDashboard-PHP/archive/0.97-4.zip

[2016-05-06 03:30] mmolitor87 commented on #3
@causefx No change with that commit on the settings tab. Here's the source just in case:

[source.txt](https://github.com/causefx/iDashboard-PHP/files/251504/source.txt)

[2016-05-06 03:30] causefx commented on #3
need the frame source :(

[2016-05-06 03:31] mmolitor87 commented on #3
D'oh I'm a dummy.

[source.txt](https://github.com/causefx/iDashboard-PHP/files/251505/source.txt)

[2016-05-06 03:32] causefx commented on #3
weird, the changes didnt even come thru

[2016-05-06 03:34] causefx commented on #3
@mmolitor87 can you refresh your browser?

the code didnt update when you uploaded for some reason....

![image](https://cloud.githubusercontent.com/assets/16184466/15063634/b84707b2-1300-11e6-9d04-8420cca07a5c.png)

should look like that

[2016-05-06 03:35] mmolitor87 commented on #3
![yay](https://cloud.githubusercontent.com/assets/19196123/15063654/91317c32-1311-11e6-9a4d-210556ce16fa.JPG)

That's because I didn't pull the commit properly. _ashamed_

[2016-05-06 03:36] causefx commented on #3
@mmolitor87

holy shit!!!!  it was a simple fix on my end...  <? -> <?php  which shouldnt matter....  so you're all good now?

[2016-05-06 03:37] mmolitor87 commented on #3
Yup! Sure am. :) Now for that color picker for all my troubleshooting assistance. ;)

[2016-05-06 03:38] causefx commented on #3
hahaha yes!  for sure :)

how do you want it the color changes?  just for the tabs?  different color for active tab? border? background?

[2016-05-06 03:40] mmolitor87 commented on #3
The tabs/settings page. Since they act as a container those are the only places they would change, really.

My only other idea for you would be a way to individually refresh tabs. :) I don't want to overload you, though.

[2016-05-06 03:41] causefx commented on #1
@SupFrost @NotExpectYet @gitman47
This one should fix your problems:  https://github.com/causefx/iDashboard-PHP/archive/0.97-4.zip

[2016-05-06 03:42] causefx commented on #3
actually on that last commit I added code to start the refresh of tab...  i hope soon to have that done.

[2016-05-06 04:29] hjone72 commented on #4
No issue is still there. It did resolve the settings thing as mentioned in #3

Good work! thanks

[2016-05-06 04:51] causefx commented on #4
@hjone72
Resolved in: https://github.com/causefx/iDashboard-PHP/archive/0.98.zip

[2016-05-06 04:51] #4 closed, assigned to nobody

[2016-05-06 04:51] causefx commented on #3
Resolved in https://github.com/causefx/iDashboard-PHP/archive/0.98.zip

[2016-05-06 04:51] #3 closed, assigned to nobody

[2016-05-06 04:51] causefx commented on #1
Resolved in https://github.com/causefx/iDashboard-PHP/archive/0.98.zip

[2016-05-06 04:51] #1 closed, assigned to nobody

[2016-05-07 23:53] th3fallen opened #5 "Insecure password hashing"
https://github.com/causefx/iDashboard-PHP/blob/master/setup.php#L45

Please consider using [password_hash](http://php.net/manual/en/function.password-hash.php) for security reasons.

[2016-05-08 00:18] causefx commented on #5
thanks for the tip, i'll implement that for v1.0.

[2016-05-08 01:13] #5 closed, assigned to nobody

[2016-05-08 01:15] causefx commented on #5
all done in https://github.com/causefx/iDashboard-PHP/archive/0.99-2.zip

[2016-05-09 05:05] mattman86 opened #6 "[Suggestion] Add a logout button"
It would be nice to be able to log out by clicking a button.

[2016-05-09 15:45] causefx commented on #6
@mattman86 I completed this last night, just forgot to push the commit.  I'll get that out soon.

[2016-05-10 01:00] causefx commented on #6
@mattman86 Logout button is now active: https://github.com/causefx/iDashboard-PHP/archive/0.99-3.zip

[2016-05-10 01:00] #6 closed, assigned to nobody

[2016-05-20 17:32] damianeickhoff opened #7 "Webmin not displaying"
First off all, you did a great job! I like the guest option for my PlexRequest.

Although I'm also using Webmin. I added this with the correct link, but it won't display the page in the Dashboard.

Any idea what it could be?

[2016-05-20 17:44] causefx commented on #7
let me download that and try it on my local machine.

[2016-05-20 17:55] causefx commented on #7
@damiantje99

In the config file (e.g. /etc/webmin/config)

Set: no_frame_options=1

Let me know if this worked for you.

[2016-05-20 18:27] damianeickhoff commented on #7
Hmmm, one step closer!

Now i'm getting this
![capture](https://cloud.githubusercontent.com/assets/12126826/15437788/45ae92b8-1ec9-11e6-8a3b-c4dc0e751088.PNG)

The menu isn't clickable.

[2016-05-20 18:38] causefx commented on #7
are there any errors in the console log in your web inspector?

[2016-05-20 18:42] damianeickhoff commented on #7
I'm getting this:

![capture](https://cloud.githubusercontent.com/assets/12126826/15438214/597fdcaa-1ecb-11e6-830e-d9f687d83cfc.PNG)

[2016-05-20 18:47] causefx commented on #7
have you tried matching the protocols?

[2016-05-20 18:51] damianeickhoff commented on #7
So if I got it right, the problem is that Webmin is SSL secured and Dashboard not? Could that be the strange menu problem?

[2016-05-20 18:57] causefx commented on #7
i believe so, it will block some elements from not loading.  I serve my dashboard through SSL.

[2016-05-20 18:57] damianeickhoff commented on #7
Hmmm, I wan't that too, could it be done with apache only?

[2016-05-20 19:02] causefx commented on #7
yes, have it listen to port 443.

[2016-05-20 19:05] damianeickhoff commented on #7
Alright, I will look into that, thanks!

[2016-05-21 02:37] causefx commented on #7
@damiantje99 did it work out for you?

[2016-05-21 07:50] damianeickhoff commented on #7
Can't seem to figure out how to let it listen to 443. Not so much time today, perhaps tomorrow evening, I'll let you know.

[2016-05-21 08:04] causefx commented on #7
Sounds good. Let me know if you need help.

[2016-05-23 20:15] #7 closed, assigned to nobody

[2016-05-24 12:42] petersry opened #8 "[Request] Authy/TOTP support"
Additional security for login via Time-based One-time Password would be great.  Authy might be a good option (https://docs.authy.com/).

[2016-05-24 15:15] causefx commented on #8
Thanks, I will look into this.

[2016-06-12 15:27] phairplay opened #9 "[request] favicon for Apple and android"
Hi,
Is it possible to have a favico icon so I can add the website to my home screen on my android and iPad?

[2016-06-14 02:05] causefx commented on #9
I'll add this :)

[2016-07-25 10:08] Hakker commented on #9
maybe an idea to make it possible to add your own icons. for instance reading an icon dir for it.

[2016-08-06 21:07] mrdeadlocked opened #10 "Dark Theme"
Great work on this. It would be nice to have a grey/black theme. :-)

[2016-08-06 21:08] mrdeadlocked commented on #10
Ignore me. I totally missed the color pickers!

[2016-08-06 21:08] #10 closed, assigned to nobody

[2016-08-06 21:10] causefx commented on #10
lol no worries.

[2016-08-08 23:20] mrdeadlocked opened #11 "Settings -- Tabs not saving"
I'm having an issue with trying to add/change my tabs. I go into the settings change the tabs/config and when I click save nothing happens.

[2016-08-09 16:57] causefx commented on #11
that is very interesting.  What version of PHP are you running?  Are the file permissions set correctly?  Does it display an error when clicking save?

[2016-08-10 22:17] mrdeadlocked commented on #11
PHP 7.0.9-1+deb.sury.org~wily+1 (cli) ( NTS ) I was able to setup all of my other tabs initially. Came back a day later and couldnt add anymore. No errors. Here's a gif.

http://i.imgur.com/yDQHjhS.gifv

[2016-08-10 22:54] causefx commented on #11
Thank you for the clip. I'm going to do some testing and see what the heck happened.

[2016-08-10 23:58] mrdeadlocked commented on #11
Alright. Let m eknow if you want anything tested. Its great so far besides this lil hiccup.

[2016-08-11 01:34] causefx commented on #11
ok, so I ran some tests and it looks like it is a permissions issue.  make sure you change the owner to your webserver.

i.e.
`sudo chown -R www-data /var/www/html`

When I had the incorrect permissions it did exactly what yours did.  I'll make sure to code it so it throws an error.  Lemme know.

[2016-08-12 14:25] mrdeadlocked commented on #11
I have the permissions setup as follow:

/var/www/html/dash$ ls -l
total 100
-rw-rw-r--  1 admin www-data  2081 Aug  6 20:44 README.md
drwxrwxr-x+ 2 admin www-data  4096 Aug  6 20:44 css
-rw-rw-r--  1 admin www-data   988 Aug  6 20:44 example.ini.php
-rw-rw-r--  1 admin www-data 21297 Aug  6 20:44 favicon.ico
drwxrwxr-x+ 2 admin www-data  4096 Aug  6 20:44 fonts
drwxrwxr-x+ 3 admin www-data  4096

[2016-08-12 16:28] causefx commented on #11
Looks like the settings.ini.php file doesn't have write permission for the group. Chmod 775 for that file.

[2016-08-17 02:52] causefx commented on #11
did it work @mrdeadlocked

[2016-09-06 14:20] krptg opened #12 "Cookie or client-based login token ?"
Hi,

It seems that on my computer if I don't specifically logout from the dashboard, I can access the password protected tabs from any foreign network. Is the login token stored on a cookie or is it server based ? If so is it possible to set some kind of timeout to be sure that after any idle time my dash will always be password protected ?

[2016-09-06 15:22] causefx commented on #12
Hi @lgromb currently the cookie is stored on the clients browser for 7 days.  I'm in the process of adding a few feature and I will be sure to include the ability to change the length of the cookie,

If you would like to modify it yourself, open up settings.php and edit this line:

`//Cookies anyone?
    setcookie("logged", $_POST["password-0"], time() + (86400 * 7), "/");`

change the "7"

[2016-09-06 15:23] #11 closed, assigned to nobody

[2016-09-08 07:47] krptg commented on #12
Hi thanks for the workaround :)

I was just worried that once you login onto the dash somewhere, it stay logged in for anybody from any network. Thanks mate, thanks for the good work and cheers :)

[2016-09-08 07:47] #12 closed, assigned to causefx

[2016-09-08 16:20] causefx commented on #12
Ah, no worries.  I'm glad you like it.

[2016-10-01 15:48] AddAndy opened #13 "Multiple users with different permissions"
It would be nice if there was the ability to have more than 1 user/groups with different permissions.

So myself (admin) would have access to everything, my housemates would have access to most services, and remote users would have read-only access to most of the info.

[2016-10-01 16:12] AddAndy opened #14 "[Question] php proxy?"
How does dashboard connect to the tabs? does it use a php proxy or does it just do GET requests?

[2016-10-18 22:55] causefx commented on #14
They are just iFrames.

[2016-10-18 22:56] causefx commented on #13
I did this exact thing on a fork from Muximux...

https://github.com/causefx/MMHTPC-ManageMyHTPC

Not sure if I should do something similar with this.

[2016-10-20 11:56] rvdwegen opened #15 "[request]"
Allow option to have dashboard be full screen instead of with 12px on each side.

Edit: even if just the menu didn't have white space around it the whole thing would feel less cramped.

P.S.
Thank you for the great dashboard!

[2016-10-20 16:49] elmerfds opened #16 "Refresh button"
Hi,

Could you add a refresh button similar to how Muximux(https://github.com/Tenzinn3/Managethis) has integrated to their dashboard?

Currently if I want to reload a just one tab, I would have to hit the refresh button on the browser, which will take me to the default tab. It would be great if you could implement a refresh button that refreshes only the selected frame/tab.

Overall great dashboar

[2016-10-20 17:09] causefx commented on #16
Double click the tab name. :)

[2016-10-20 23:01] elmerfds commented on #16
Well I feel really stupid now haha :D

Btw, are you planning on releasing any more features or are you done with this project? Would love something like multiple user support.

Thanks for getting back to me.

[2016-10-21 16:17] causefx commented on #16
Yea, i'm planning more stuff, i just need to find more time for it.  Hopefully soon, keep the suggestions coming :)

[2016-10-21 16:20] causefx commented on #15
I will code that in :)

[2016-10-21 16:20] #14 closed, assigned to nobody

[2016-10-21 16:20] #16 closed, assigned to nobody

[2016-10-21 16:21] rvdwegen commented on #15
Thanks ;)

[2016-10-26 13:27] derrickmehaffy commented on #13
I would also like to see this if possible. As I allow my media pc for friends and family I would like to add in a way for them to request movies/tv shows using another tool and would like to incorporate it into the dashboard

[2016-10-26 21:33] leram84 opened #17 "A bunch of questions"
1) Would you prefer these kinds of questions to be posted somewhere else? (like an active forum thread or something)

2) Right now, the only way to access my idashboard setup is via `https://www.mydomain.com/index.php` how do i get this to work from `https://www.mydomain.com`? I have all the idashboard files in `C:\nginx-1.11.5\html`

3) Is there a way to change "Login" to say "Admin" instead?

4)

[2016-10-26 22:38] causefx commented on #17
1) here is fine :)

2)) you need to change your default nginx file to reflect php....

`index  index.html index.htm index.php;`

3) Line 86 in index.php
`$lasttablist .= "<li><a>Login" . $guesticons . "</a></li>\n";`

4) Some websites block iframes which we have no control over

5) What exactly are you looking for?  Just standard messages for your users?

6) Where are you submitting the passwords?

[2016-10-26 22:48] causefx commented on #13
@AddAndy & @derrickmehaffy

Not sure if this will help you but you could possibly run two instances of iDashboard like they way I'm doing right now to have nested tabs with different passwords.  The only problems is if there are 2 different instances with 2 different passwords, it bugs out when you refresh the main page and you have to log back in, I could code it so it is more unique to each inst

[2016-10-27 00:22] leram84 commented on #17
1) Thank you!

2) Thank you!!!

3) Thank you!!!!

4) Damnit!!

5) Yeah, just "server will be down blah blah blah"/"I've enabled x feature" type stuff. But my guest page is downright gorgeous (my color scheme should be a default :) ), so i don't want to just plaster a white google doc or something. Looking for something stylized to fit in with plex/plexpy/plexrequests.net/trakt (if i get them to al

[2016-10-27 01:37] causefx commented on #17
no worries, maybe i'll spend some time making an announcement page where you can put posts up... Lemme think about that.  as for the login pages, it might because you are serving all the forms from one domain... :(

[2016-10-27 05:34] derrickmehaffy commented on #13
That's not a bad idea, slightly more complicated but not too difficult to do. Just curious with things like your Sonarr and what not, do you have authentication enabled on those as well as the main iDashboard? I'm under the assumption your running all those sites on localhost and using the idashboard to iframe them.

I have not yet installed the dashboard and was going to do so right now. :)

[2016-10-27 14:56] rvdwegen commented on #15
Wait, it was already in. Why didn't you tell me :P

[2016-10-27 15:38] causefx commented on #13
Correct, I have all of my services running on my server and they are all behind a reverse proxy in nginx.

[2016-10-27 15:39] causefx commented on #15
Oh I thought u were originally talking about the white tiny border. Sorry about that.

[2016-10-27 16:15] #15 closed, assigned to nobody

[2016-10-27 21:42] leram84 commented on #17
So i actually have a great idea about the announcement page. I was thinking i could just use tumblr! That would let me create a "blog" tab with announcements recommendations, and anything else with easy format editing. Only problem is... its not working (blank page). But I checked the [headers](http://www.tinywebgallery.com/blog/advanced-iframe/free-iframe-checker) and tumblr is definetely able to

[2016-10-27 22:27] leram84 commented on #9
Have you done this already? I'm interested in this too. Have you seen http://realfavicongenerator.net/ ? They do all the work for you (and then some!), and you could have users just generate their own, and replace the images.

[2016-10-27 22:48] causefx commented on #17
Let me check Tumblr when i get home.  As for the Tabs, how many do you have open?  I will take a look into 1,2 & 3.  Thanks man.

[2016-10-27 23:02] leram84 commented on #17
Awesome!

Had to remove some. Currently at 12 which seems to be the max for my screen size. But ideally i would want closer to 15-17

[2016-10-27 23:28] causefx commented on #17
Holy crap haha. Yea I didn't test that high.

[2016-10-27 23:43] leram84 commented on #17
did i mention how much i like this app? :))))

[2016-10-28 00:28] causefx commented on #17
I really appreciate it man, I really do.  And I welcome more suggestions. :)

[2016-10-28 00:29] causefx commented on #9
I have I just want to do more things as they come up before releasing.

[2016-10-28 02:09] leram84 commented on #9
did you look at that link? the reason i ask is cause they create every possible variation of favicon/icons you could possibly need in like 10 clicks. They even make windows live tiles for you. Its really cool, and (I think) would be relatively easy for you to add/users to modify.

(Totally understand if its not a priority, just wanted to put it out there)

[2016-10-28 03:09] causefx commented on #9
yup, I checked the link and decided to use it instead :) thanks for that.

[2016-10-28 03:15] causefx commented on #9
just checked the tumblr issue, yup its because of https

[2016-11-03 00:17] leram84 opened #18 "know of any way to get windows explorer and cmd running as tabs?"
having the servers file manager and a command prompt would basically eliminate the need for me to ever remote into the server again.

[2016-11-03 17:04] causefx commented on #18
What OS are you running on your server?

[2016-11-03 19:27] leram84 commented on #18
win10

[2016-11-06 18:50] leram84 commented on #18
actually, now that i think about it.... what if we could get full on rdp in a tab. is that even possible?? Being able to access every single service on my server from a friends computer all from one ssl encrypted domain would pretty much be the holy grail of plex servers.

[2016-11-06 19:24] phairplay commented on #18
Hi
I use htpc manager and have the system tab as my main page.
Throught this page I can see all process and even execute my preset scripts, meaning I hardly ever log into my pc directly.

http://m.imgur.com/U4cfZKI

[2016-11-06 19:35] causefx commented on #18
@Phairplay that's a good idea... u haven't had any problems running that inside a tab?

[2016-11-06 19:44] phairplay commented on #18
Non at all runs like a dream
I have 9 scripts that run without issue, I'm also able to kill process if needed.

It's the stats page of htpc manager

https://github.com/Hellowlol/HTPC-Manager

[2016-11-09 04:12] leram84 opened #19 "hipchat"
I think i might have found a really good work around to not being able to iframe slack. Im setting up hipchat instead, and then using sameroom to sync with slack on my end. this way i keep using slack and only slack for all my stuff, and users can use hipchat in the guest idash. Only problem is, the log in. I've tried every combination of url i can, but the login page is a redirect from the chat h

[2016-11-09 04:22] causefx commented on #19
let me take a stab at it :)

[2016-11-09 04:25] causefx commented on #19
:(
![image](https://cloud.githubusercontent.com/assets/16184466/20127231/e28ff5b0-a5f9-11e6-8e84-a5c8df35672b.png)

[2016-11-09 04:27] causefx commented on #19
The only current workaround is for Chrome.

Install this plugin:
https://chrome.google.com/webstore/detail/ignore-x-frame-headers/gleekbfjekiniecknbkamfmkohkpodhe

reload and done

[2016-11-09 04:41] leram84 commented on #19
wait, so JUST the sign-in page is blocked, but the rest of the site is fine.... wha??

[2016-11-09 04:51] causefx commented on #19
yea could be.  Did you install the plug in?  or do you use firefox?

Firefox: https://addons.mozilla.org/en-US/firefox/addon/ignore-x-frame-options/

[2016-11-09 05:01] leram84 commented on #19
no, i don't want to do anything that won't work on all platforms by default.... guess im back to the drawing board. good news is there's currently just over 700k messaging apps out there for me to try :/

[2016-11-09 05:19] causefx commented on #19
I'll keep looking too.

[2016-11-11 23:02] leram84 commented on #19
after ruling out maybe 20-30 different chat apps, im inclined to roll my own. I know its overkill for something like this but i feel like it will be a fun learning experience so im diving in.... (not to mention the fact that if i can learn enough to get plexauth working in nginx, it should (in theory) be compatible). So far i think Mattermost seems to have the most potential, but im running into i

[2016-11-12 03:11] causefx commented on #19
I haven't used Plex auth so I can comment on that. I will look into a chat type thing that we can incorporate. U want it for just chatting?

[2016-11-26 11:05] phairplay opened #20 "Tab issue ipad"
Hi I have 9 tabs and on my phone is have a slim bar which drips down when clicked, yet on the ipad I get the box tabs and I'm not able to see all tabs.

Would it be possible to have the phone feature on the ipad?

[2016-11-27 04:22] causefx commented on #20
Let me test that out on an iPad.  I will get back to you :)

[2016-11-28 16:42] phairplay commented on #20
Hi,
Any luck? :)

[2016-11-28 18:30] causefx commented on #20
Just got home from the holidays :)

I'll work on checking this out this week/weekend.

[2016-11-28 20:11] phairplay commented on #20
Dude so sorry
I hope you and your family had a lovely thanksgiving

[2016-11-28 20:24] causefx commented on #20
:)

no worries,  I'll get it sorted out :)

[2016-11-29 11:05] elmerfds opened #21 "Add drop down menu support"
I've got about 14 tabs(including settings tab), browsing on the desktop at 1920x1080 resolution. If I add any more tabs, they won't show.

Could you please add support for the tabs to resize accordingly ? or it might be easier and it would look much better to add drop down menu support. Most of my tabs can be grouped. Some less important tabs could be added to the Settings drop down menu if you wo

[2016-11-29 16:04] causefx commented on #21
let me think on this,  I may have an easier way to do this.

[2016-11-30 00:02] elmerfds commented on #21
OK, thanks for looking into this :)

[2016-12-03 09:39] sredbull commented on #18
https://studio-42.github.io/elFinder/#elf_l1_Lw

Im using that for file browsing. Works pretty good.

[2016-12-03 22:21] leram84 commented on #18
Very cool! Though I'm pretty committed to making tightvnc work at this point, just so i can get complete control through idash. But its still near the end of my todo list for now

[2016-12-04 00:15] sredbull commented on #18
I have a working example with [noVNC](https://i.imgur.com/x93xlN1.png) [Github](https://github.com/kanaka/noVNC) It was kinda easy to setup. Cloned the repo and downloaded websockify (part of noVNC) to the utils folder. and ran the ./utils/launch.sh command. browsing to http://192.168.178.222:6080/vnc.html?host=192.168.178.222&port=6080 made it view my Kodi screen. Using LibreElec and dispmanx vnc

[2016-12-04 00:18] sredbull commented on #18
the file browser from [elFinder](https://i.imgur.com/LuIVFhe.png) looks cool too .

[2016-12-09 11:55] phairplay commented on #20
Hi fella,
have you had chance to look at this?

[2016-12-09 23:21] causefx commented on #20
Hey... what rotation is the iPad when this happens? Or is it both ways?

[2016-12-10 06:34] phairplay commented on #20
Both really
Landscape allows me go see only 1 more than portrait

[2016-12-10 06:45] causefx commented on #20
And you want the mobile version on that no matter what right.

[2016-12-10 08:40] phairplay commented on #20
Yes please :)

[2016-12-11 22:43] #20 closed, assigned to nobody

[2016-12-11 22:43] #21 closed, assigned to nobody

[2016-12-13 01:05] #9 closed, assigned to causefx

[2016-12-13 13:27] phairplay opened #22 "1.06 Warning: DOMDocument::loadHTMLFile ERROR"
Hi Great work on the latest version
when in the settings page i see the following errors

Warning: DOMDocument::loadHTMLFile(): Unable to find the wrapper "https" - did you forget to enable it when you configured PHP? in C:\nginx-1.8.0\html\settings.php on line 21

Warning: DOMDocument::loadHTMLFile(): I/O warning : failed to load external entity "https://github.com/causefx/iDashboard-PHP/releases

[2016-12-13 15:11] phairplay commented on #22
Sorry I have another issue (did want to create another ticket)

On my phone when I hit the drop down I get this

http://m.imgur.com/3nxgg6f

[2016-12-13 15:20] causefx commented on #22
on the first:
Uncomment `php_openssl.dll` in the `php.ini`

on the second, yea that is one of the bugs i'm aware of, this update breaks mobile, i'm not concerned with the width issues as much as I am with the javascript not working.  Either way, I'll get both of those fixed before it hits prime time.  Once you uncomment that line restart nginx.  let me know if it worked.

[2016-12-13 15:48] phairplay commented on #22
Sorry I can't see php_openssl.dll anywhere

[2016-12-13 16:45] causefx commented on #22
is there another php.ini located somewhere else?  nginx folder?

[2016-12-13 17:05] phairplay commented on #22
I did a search and there isn't any file php.ini file
What does it do as I have my own ssl_certificate

[2016-12-13 17:12] causefx commented on #22
php.ini is where all of you settings for php are stored.  Everything that runs PHP has a php.ini file.  How did you install nginx and php?

I may look into changing this code and parsing the data another way.

[2016-12-13 17:29] phairplay commented on #22
I only have your php file
I installed nginx to proxy and installed php to get access to your set up.

Sorry I don't really remember how exactly

[2016-12-13 17:34] phairplay commented on #22
Looking it up its not a standard
You need to install it, yet as I mentioned I don't need it I brought an ssl cert

[2016-12-13 17:51] causefx commented on #22
openssl allows your server to contact https sites through php.  nothing to do with your cert.  I will look at other ways to code.

[2016-12-13 18:13] causefx commented on #22
can you create a php file with this code?

`<?php phpinfo(); ?>`

[2016-12-13 18:31] phairplay commented on #22
Done that

[2016-12-13 18:44] causefx commented on #22
Can you pat the output

[2016-12-13 18:46] phairplay commented on #22
Real noob here, so can you explain that as if I'm 5yrs old :)

[2016-12-13 18:46] causefx commented on #22
Also can you create a php file with this code:

[code]

That will give you the path to your ini file

[2016-12-13 18:48] causefx commented on #22
Save both those files with that code...

Then goto your browser and load up both those pages. Copy the output of both files and paste them here.

[2016-12-13 19:00] phairplay commented on #22
the phpinfo is huge and has private info i perfer not to upload.
i see this "A php.ini file is not loaded"
why is it trying to communicate with another http?

[2016-12-13 19:09] causefx commented on #22
ah so there isnt an php.ini loaded.  is there a php.ini-production? or php.ini-development?

[2016-12-13 19:10] causefx commented on #22
what do you mean by "why is it trying to communicate with another http?"

[2016-12-13 19:13] phairplay commented on #22
Yes there are both :)
Curious as to what it does as I've never needed it (as far as I'm aware)

Edit also the margin option no longer works

[2016-12-13 19:18] causefx commented on #22
it loads your php modules.

So if there isnt a php.ini file in that same directory, do this:

Rename `php.ini-production` to `php.ini`

Open up `php.ini` so you can edit it...

Find this line:
`;extension_dir`

and remove the `;` symbol...

save and restart nginx and then open you the file you created before that said there wasnt a php.ini file loaded.   let me know what it says now.

[2016-12-13 19:46] phairplay commented on #22
Loaded php.ini: C:\nginx-1.8.0\php\php.ini

[2016-12-13 19:50] causefx commented on #22
perfect, now two things:

does the dashboard load fine now?  if not, open up the page with phpinfo() and look for openssl...   does it say loaded?

[2016-12-13 20:00] phairplay commented on #22
All loaded fine
And the errors have gone :)

Are you able to look at the margin option as it doesn't seem to work

I really appericate you Working on this :+1:

[2016-12-13 20:23] causefx commented on #22
what happens with margin?

[2016-12-13 20:27] causefx commented on #22
also under settings > general... what does yours say?

![image](https://cloud.githubusercontent.com/assets/16184466/21157789/f248ed32-c137-11e6-9996-4c9e4a0b0bfe.png)

[2016-12-13 20:34] phairplay commented on #22
Here is the old version
http://m.imgur.com/hKua46U
Here is the new version
http://m.imgur.com/AmfY7iJ

It's yellow saying nul failed to check for update

[2016-12-13 20:37] causefx commented on #22
How wide is the browser window?

As for the yellow, what does is say for current version and github version

[2016-12-13 20:49] phairplay commented on #22
Screen shots were taken on an iPad, yet it's the same on the mobile all fine on the old version not on the new
1.06

[2016-12-13 21:03] causefx commented on #22
Another user requested that the mobile version load on the ipad, I can switch it back now that there is groups.

[2016-12-13 21:04] phairplay commented on #22
Yeah that was me :)
I'm happy with the tabs change

[2016-12-13 21:05] causefx commented on #22
LOL, actually that user was you...
https://github.com/causefx/iDashboard-PHP/issues/20

So on your iPad you want the normal version then correct?  And on your phone you want the mobile version?

[2016-12-13 21:07] causefx commented on #22
Oh ok gotcha.  Yea I will swap it so the iPad use normal version.  Right now since this new version is still in beta, the swap groups isn't quite working on the mobile version.  Can you do me a favor and let me know once I update the code if the iPad works on the full version with the swap group function.

[2016-12-13 21:07] phairplay commented on #22
Oh no
On the old version the htpc page shows all the process info
On the new version it's as if the margins isn't working, I have to scroll (swipe)

[2016-12-13 21:08] phairplay commented on #22
Of course :+1:

[2016-12-13 21:09] causefx commented on #22
OK, I will update once I get home.

[2016-12-14 02:09] #22 closed, assigned to nobody

[2016-12-14 18:43] phairplay commented on #20
Hi,
I've installed version 1.07 everything is fine on my mobile (android) yet I still have an issue while on my iPad. It's doesn't show in groups, meaning I still can't access all the tabs

[2016-12-14 18:52] causefx commented on #20
any chance of a screenshot

[2016-12-14 18:53] causefx commented on #20
also how many groups do you have setup?

[2016-12-14 18:55] phairplay commented on #20
Sorry I was wrong
9 tabs
I was only able to see 7
Changing "plex request" to request and "NZBHydra stats" to stats allowed all tabs to be shown

Many thanks

[2016-12-14 19:04] causefx commented on #20
also, you can actually try out groups if you like:

![image](https://cloud.githubusercontent.com/assets/16184466/21196601/67015624-c1f5-11e6-86b3-bffc0e9f8b63.png)

[2016-12-14 19:12] phairplay commented on #20
Groups only work when logged in
I have everything set up as guest (for quick viewing) as I'm the only one using this set up

[2016-12-14 22:11] causefx commented on #20
ahhh, that makes sense.  I will look into it.

[2016-12-17 13:47] n8225 opened #23 "No license listed"
I would like to add iDashboard-PHP to https://github.com/Kickball/awesome-selfhosted but you do not have a license listed?  What license is your project released under?

[2016-12-17 18:21] causefx commented on #23
you're all good to go.

[2016-12-17 18:21] #23 closed, assigned to nobody

[2016-12-19 17:24] ShoGinn opened #24 "php-xml required ;)"
so the default nginx and fastcgi + php doesn't have php-xml by default.

installed it and it fixed the dom errors.

[2016-12-19 17:39] causefx commented on #24
You are correct,  I'm currently working on a requirement checker, I will also update the README.  :)

[2016-12-19 20:13] causefx commented on #19
Did you ever find a good chat alternative?  I'm currently testing out Riot, https://goo.gl/NvrguK for troubleshooting iDash.  Not sure what to go with...

[2016-12-19 20:49] leram84 commented on #19
That's interesting, but I REALLY prefer the slack type apps. I have had some really good progress with mattermost, and I'm still pretty convinced its the best solution, but i've hit a bit of a wall. They do have a windows option now, so i was able to deploy it on my server with out issues (well some issues lol, but all worked out) My problem now is with serving it up via nginx. For some reason the

[2016-12-19 20:56] causefx commented on #19
I'll have to look into that.  I will spin up a VM tonight and get it going.  I will let you know how it goes :)

[2016-12-19 22:50] ShoGinn commented on #24
No prob, love the project so far!

Everything works except for the settings FYI if you don't have it installed.

[2016-12-20 01:04] causefx commented on #24
yea :(  thank you for the kind words :)

[2016-12-20 02:59] ShoGinn opened #26 "iframe restricted"
So as I have seen in other issue's; I wanted to create an actionable issue that each one can be addressed appropriately.

pi-hole and some of the ubiquity apps do not allow for iframe  (ubiquity unifi app = same origin and pi-hole = deny).

So I think a good solution is to do what muximux did and do a landing page?

except rather than do a _self direction do "new window" and that should solve thes

[2016-12-20 03:01] ShoGinn opened #27 "About iDashboard"
I like your settings.php reference to the version, but perhaps you can link back to the github page when clicking on the icon on the left?

Or even just an about portion of the script?

I know these are more mature features for a pre-release.

I am trying to keep this dashboard going since my coding is subpar ;)

[2016-12-20 03:02] causefx commented on #26
hmmm, or maybe... I can have it load, and if the page is empty, it can open the same link in a new window...  I think that may work.

[2016-12-20 03:09] causefx commented on #27
you want it to link to the main Github page? or just that versions page?

[2016-12-20 03:15] causefx commented on #19
have u tried this in a tab lately? https://mygroup.hipchat.com/chat

[2016-12-20 03:15] ShoGinn commented on #27
Whatever you think!

Just trying to make it easier for people to get back here and utilize the issue feature.

[2016-12-20 03:16] ShoGinn commented on #26
I give you artistic freedom on this avenue.. if you can somehow see the error (ignorance on my part) and do that it would be even better!

[2016-12-20 03:16] causefx commented on #27
hmmmm, an about portion might work

[2016-12-20 03:19] causefx commented on #26
i'll look into it

[2016-12-20 03:22] leram84 commented on #19
doesn't work... set to sameorigin. Are you saying its working for you?

[2016-12-20 03:22] ShoGinn commented on #26
@causefx thanks for spending the time!

[2016-12-20 03:22] causefx commented on #19
i dont have a login let me sign up

[2016-12-20 03:24] causefx commented on #19
![image](https://cloud.githubusercontent.com/assets/16184466/21337258/12f01a10-c629-11e6-9e81-674eafc5a25e.png)

[2016-12-20 03:26] causefx commented on #19
i'm an idiot, i forgot i have that plug installed

[2016-12-20 03:30] causefx commented on #26
no worries, :)

[2016-12-20 04:04] leram84 commented on #19
hahaha... oh yeah.

You know what though... this might be yet another issues that would be solved with plexauth. I have no idea if this is true or not, but if it can work without actually needing the page to load in the iframe (as in, if the oauth bypasses the login page altogether) Then, it wouldn't matter that the login page doesn't work, since the rest of the site seems to run smoothly in a tab

[2016-12-20 04:10] causefx commented on #19
PlexAuth doesn't work like that.  It runs along with Nginx.  So from what I understand, I just allows whoever is on your plex shares to have access to whatever pages on your server that are protected by nginx.

It authentication for your domain only.

[2016-12-20 04:15] leram84 commented on #19
That's what i thought initially [but asked the dev and he said it does actually log you into apps (like plexpy) that support multiple users.](https://github.com/hjone72/PlexAuth/issues/4)

Unless i totally misunderstood him...

[2017-01-06 15:52] leram84 commented on #26
I'll make this comment here since this is where it started, but this is regarding organizr since thats the one i think ill end up using and the one that actually has this feature. Anyway, my question is, having it open another tab is great, and will help for sites blocking iframes. BUT could you also use this feature to fix sites that only block iframes in the login page (tumblr, and hipchat are t

[2017-01-06 16:40] causefx commented on #26
Honestly, I don't even know if that is possible.  Let me think about it.

[2017-01-06 23:44] ShoGinn commented on #26
I moved on to https://github.com/causefx/Organizr as well; vastly superior ;)

[2017-01-30 16:59] ciehanski opened #29 "Settings Page is completely blank"
Hi all,

Just installed iDashboard and not gonna lie it's pretty cool! So thank you for that! I have one issue where when I click on the "Settings" tab, nothing pops up. It's just a blank screen and does not even ask me to login. This is installed on CentOS 7 and is a fresh install. Hopefully we can get this ironed out!

Thanks ahead of time.

[2017-01-30 17:02] causefx commented on #29
Can u email me the website link and I will take a look? Causefx at me dot come

Sent from my iPhone

[2017-01-30 17:03] ciehanski commented on #29
@causefx it is an internal website. Want me to take a screenshot instead?

[2017-01-30 17:33] causefx commented on #29
yes please, also of the console log.

[2017-01-30 17:46] causefx commented on #29
@moonjazz I had no idea I was on the iDashboard page, i thought this was for my other project.  check out this one when you get time, updated version that's alot better.

https://github.com/causefx/Organizr

[2017-01-30 18:40] ciehanski commented on #29
@causefx I have seen it, but personally I like the style of this dashboard much more. This one is easier to look at and has less going on.

[2017-01-30 18:41] causefx commented on #29
ahhh ok.  let me know when you get the console output

[2017-01-30 18:42] ciehanski commented on #29
Kk. I'm at work now but will post when I am home.

[2017-01-30 18:43] causefx commented on #29
same, okie dokie.

[2017-01-30 21:30] hjone72 commented on #19
@leram84, you have misunderstood slightly. I have modified my PlexPy to work with PlexAuth. Most apps require some sort of modification for PlexAuth to work with them.
I don't believe there is a solution to `X-Frame-Options` as it is specifically designed to prevent click jacking.

[2017-01-30 22:48] leram84 commented on #19
@hjone72 huh... ok, well if that's the case i don't think ill be able to use plexauth at all. As it stands my main use case for it was to allow my users to get guest (single sign on) access to Plex, ombi, tumblr, and mattermost (and trakt, when they get around to enabling iframes... something they said they are looking into), through my guest organizr page, and im nowhere near competent enough to

[2017-01-30 22:57] hjone72 commented on #19
Yeah, unfortunately it definitely isn't capable of doing all that. As @causefx quite rightly said, it is auth for your domain and the apps that you host. Good luck with your mission though! 👍

[2017-01-30 23:02] causefx commented on #19
@hjone72 thanks for clearing that up brother.  I did just take another peak at your project.  That PlexUser class is impressive.  I think that is something I may want to look into later to create the plex login into these type of dashboards.  thanks for doing what you do.

[2017-02-23 16:37] phairplay opened #30 "http auth on each site help"
Hi,
over on your new fab Organizr (I'm not able to move over to Organizr as it doesn't play well on an ipad) someone posted how to get around the http auth on each sub if accessed through the main domain

https://github.com/causefx/Organizr/issues/20

you mentioned about using the cookie your program creates, is this possible to do with Idashboard?

:) 👍

[2017-02-23 16:48] causefx commented on #30
iDash also set's a cookie.

`setcookie("logged", $hash_pass, time() + (86400 * 7), "/");`

`$_COOKIE["logged"]`

[2017-02-23 17:38] phairplay commented on #30
Okay I'll have a look as it doesn't work :(

[2017-02-23 17:44] causefx commented on #30
How do u have it written?

Sent from my iPhone

[2017-02-23 18:17] phairplay commented on #30
Erm I don't I was just going to redownloaded idashboard and try again

Or is there an easier way?

[2017-02-23 18:23] causefx commented on #30
Oh ok. That should work

[2018-11-04 20:07] #29 closed, assigned to nobody

[2022-02-23 11:43] #24 closed, assigned to nobody

[2022-02-23 11:43] #26 closed, assigned to nobody

[2022-02-23 11:44] #27 closed, assigned to nobody